/*----------------- CSS RESET ------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-family: 'Roboto', sans-serif;
}

/*----loging page ---*/
#background {
    background: url(idea_login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:100%;

}

#welcome {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    font-weight: light;
    
}

body {
	/*background-color: #BAACBD;*/
	/*text-align: center;*/
}

.navbar-default {
	background: #36374F;
	color: #ffffff;
}

#site-title {
	text-align: center;
	vertical-align: center;
}

#site-nav {
  margin-top: 20px;
	display: flex;
  align-items: center;
  justify-content: center;
}

#site-logo {
	height: 100px;
}

#create-idea-btn {
  background: #00C1AB;
  color: black;
}

.footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #36374F;
  color: #ffffff;
  text-align: center;
  vertical-align: center;
}

#banner-container {
  background: url(idea_login.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 60%;
  padding: 0;
  padding-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: -20px;
}

#search-container {
  /*padding-top: 10%;*/
  margin-top: 15%;
  display: flex;
  align-items: center;
}

#search-bar {
  width: 100%;
  border-radius: 5px;
}

#top-ideas-container {
  padding: 50px;
  background: 
}


.thumbnail {
  padding: 0;
  margin-bottom: 10px;
}

.tagetory-display {
  padding-right: 10px;
  padding-left: 10px;
}