{% extends "base.html" %}
{% block title %}
	Dashboard
{% endblock %}

{% block navblock %}
<li><button type="submit" class="btn btn-default" id="create-idea-btn">Have an idea?</button>
<li><a href="#">Explore</a></li>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span> 
      <strong>Username</strong>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="profile">
		<!--Card-->
		<div class="card testimonial-card col-md-6 col-md-offset-3">

		    <!--Bacground color-->
		    <div class="container-fluid">
		    	<div class="card-up default-color-dark">
		    	</div>
		    </div>

		    <!--Avatar-->
		    <div class="avatar"><img src="{{ url_for('static', filename='nancy.jpg')  }}" class="img-circle img-responsive">
		    </div>

		    <div class="card-block">
		        <!--Name-->
		        <h4 class="card-title">Nancy Yang</h4>
		        <!-- <ul><a href="#" class="col-md-1 col-md-offset-7">Edit</a></ul> -->
		        <hr>
		        <p>
				Email: nancy@berkeley.edu
				
				</p>
				<br>
				<p >
				 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis modi at tempora reiciendis dicta velit dolor cumque. Officiis facilis dignissimos assumenda sint expedita culpa sequi ab inventore doloribus, incidunt. Blanditiis.
				
				</p>
				<p>
				My Skills:	
				</p>
				<button class="btn btn-cyan" type="submit">UX</button>
				<button class="btn btn-danger" type="submit">UI</button>
		    </div>

		</div>
		<!--/.Card-->
		
		<div class="col-md-12">
			<div class="col-md-3" id="my-idea-title">
				<h1>My Ideas</h1>	
			</div>			
		</div>
		<br>
		
		<div class="card-group col-md-12 text-xs-center col-md-offset-1">
			<div class="center-block">
				<div class="card col-md-3">

				    <!--Card image-->
				    <div class="view overlay hm-white-slight">
				        <img src="{{ url_for('static', filename='idea.jpeg')  }}" class="img-fluid" alt="Card image cap">
				        <a>
				            <div class="mask"></div>
				        </a>
				    </div>
				    <!--/.Card image-->

				    <!--Social buttons-->
				    <div class="card-share">
				        <div class="social-reveal">
				            <!--Facebook-->
				            <a type="button" class="btn-floating btn-fb"><i class="fa fa-facebook"></i></a>
				            <!--Twitter-->
				            <a type="button" class="btn-floating btn-tw"><i class="fa fa-twitter"></i></a>
				            <!--Google -->
				            <a type="button" class="btn-floating btn-gplus"><i class="fa fa-google-plus"></i></a>
				        </div>
				        <a class="btn-floating btn-action share-toggle primary-color-dark"><i class="fa fa-share-alt"></i></a>
				    </div>
				    <!--/Social buttons-->

				    <!--Card content-->
				    <div class="card-block">
				        <!--Title-->
				        <h4 class="card-title">Card title</h4>
				        <hr>
				        <!--Text-->
				        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				        <div class="text-xs-center">
				            <a class="btn btn-danger">UX Research</a>
				            <a class="btn btn-warning">Education</a>
				        </div>
				    </div>
				    <!--/.Card content-->

				</div>

				<div class="card col-md-3">

				    <!--Card image-->
				    <div class="view overlay hm-white-slight">
				        <img src="{{ url_for('static', filename='idea.jpeg')  }}" class="img-fluid" alt="">
				        <a>
				            <div class="mask"></div>
				        </a>
				    </div>
				    <!--/.Card image-->

				    <!--Card content-->
				    <div class="card-block">
				        <!--Title-->
				        <h4 class="card-title">Card title</h4>
				        <hr>
				        <!--Text-->
				        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				        <div class="text-xs-center">
				            <a class="btn btn-primary">Data Science</a>
				            <a class="btn btn-danger">UX Research</a>
				        </div>
				    </div>
				    <!--/.Card content-->
			
				</div>
				<div class="card col-md-3">

				    <!--Card image-->
				    <div class="view overlay hm-white-slight">
				        <img src="{{ url_for('static', filename='idea.jpeg')  }}" class="img-fluid" alt="">
				        <a>
				            <div class="mask"></div>
				        </a>
				    </div>
				    <!--/.Card image-->
				    <!--Card content-->
				    <div class="card-block">
				        <!--Title-->
				        <h4 class="card-title">Card title</h4>
				        <hr>
				        <!--Text-->
				        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				        <div class="text-xs-center">
				            <a class="btn btn-warning">Education</a>
				            <a class="btn btn-primary">Data Science</a>
				        </div>
				    </div>
				    <!--/.Card content-->

			
				</div>
			</div>
		</div>
		</div>
	</div>
</div>
{% endblock %}

