{% extends "base.html" %}
{% block title %}
    Edit Profile
{% endblock %}

{% block navblock %}
<li><button type="submit" class="btn btn-default" id="create-idea-btn">Have an idea?</button>
<li><a href="#">Explore</a></li>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span> 
      <strong>Username</strong>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="main-container">
    <!--Form without header-->
    <div class="card col-md-6 col-md-offset-3">
        <div class="card-block">
            <div class="text-xs-center card-title">
                <h3>  <span class="glyphicon glyphicon-pencil"></span>Edit Profile</h3>
                <hr class="mt-2 mb-2">
            </div>
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input value="Nancy Yang" type="text" id="form3" class="form-control">
                <label for="form3">Name</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input value="nancy@berkeley.edu" type="text" id="form2" class="form-control">
                <label for="form2">Email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-pencil prefix"></i>
                <textarea type="text" id="form8" class="md-textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi perferendis fuga adipisci, eum consequuntur nobis. Quis fugiat placeat laboriosam possimus beatae officia quasi. Provident, autem, qui! Enim illum officia quod.</textarea>
                <label for="form8">Bio</label>
            </div>

            <div class="md-form">
                <i class="fa fa-envelope prefix"></i>
                <input type="text" id="form2" class="form-control">
                <label for="form2">My Skills</label>
            </div>

            <form class="form-inline text-left col-md-offset-1">

                <fieldset class="form-group">
                    <input type="checkbox" class="filled-in" id="checkbox1">
                    <label class="" for="checkbox1">UX</label>
                </fieldset>

                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox2">
                    <label for="checkbox2">Data Science</label>
                </fieldset>

                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox3">
                    <label for="checkbox3">Front-End</label>
                </fieldset>

                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox4">
                    <label for="checkbox4">Back-End</label>
                </fieldset>

                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox4">
                    <label for="checkbox5">Design</label>
                </fieldset>

                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox4">
                    <label for="checkbox6">Product Management</label>
                </fieldset>

                <fieldset class="form-group">
                    <input type="checkbox" id="checkbox4">
                    <label for="checkbox7">Product Management</label>
                </fieldset>

            </form>
            <br>

            <div class="text-xs-center">
                <button class="btn btn-deep-orange">Save</button>
            </div>

            <div class="modal-footer">
                <div class="options">
                    <p> <a href="#">Skip for now</a></p>
                </div>
            </div>


        </div>
    </div>
    <!--/Form without header-->
 
</div>
{% endblock %}