{% extends "base.html" %}
{% block title %}
    Edit Profile
{% endblock %}

{% block navblock %}
<li><button type="submit" class="waves-effect waves-light btn create-idea-btn">Have an idea?</button>
<li><a href="#" class="white-text">Explore</a></li>
<li><a href="#" class="dropdown-button" data-beloworigin="true" href='#' data-activates="dropdown-menu">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </a>
  <ul class="dropdown-content" id="dropdown-menu">
    <li><a href="#">Profile</a></li>
    <li><a href="#">Settings</a></li>
    <li><a href="#">Logout</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="containter" id="editprofile-container">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content black-text">
                    <!-- Edit Profile Title -->
                    <div>
                        <h3 class="card-title center-align"> My Profile</h3>
                        <!-- <i class="material-icons prefix">mode_edit</i> -->
                    </div>
              
              
                  <div class="row">
                    <form class="col s12">
                        <!-- Name -->
                        <div class="row">
                            <div class="input-field col s12 m12">
                              <input id="last_name" type="text" class="validate">
                              <label for="name">Name</label>
                            </div>
                        </div>

                        <!-- Email -->    
                        <div class="row">
                            <div class="input-field col s12 m12">
                              <input id="email" type="email" class="validate">
                              <label for="email" data-error="wrong" data-success="right">Email</label>
                            </div>
                        </div>
                        
                        <!-- Bio -->
                        <div class="row">
                            <div class="input-field col s12 m12">
                                <textarea id="textarea1" class="materialize-textarea" length="400"></textarea>
                                <label for="textarea1">Bio</label>
                            </div>
                        </div>

                        <!-- My skills -->
                        <div class="row">
                            <div class="input-field chips chips-initial chips-placeholder col s12 m12">
                            <!-- <div class="chips chips-initial chips-placeholder"> -->
                                <p id="my-skills">My Skills</p>

                                <div class="chip"> Front-End
                                <i class="material-icons close">close</i>   
                                </div>

                                <div class="chip"> Back-End
                                <i class="material-icons close">close</i>   
                                </div>

                                <div class="chip"> Data Science
                                <i class="material-icons close">close</i>   
                                </div>

                                <div class="chip"> UX
                                <i class="material-icons close">close</i>   
                                </div>

                                <div class="chip"> Design
                                <i class="material-icons close">close</i>   
                                </div>

                                <input class="input" placeholder="+Skills">                              
                            </div>
                        </div>                 
                    </form>
                </div>  

                <!-- Action section : Save or Skip for now  -->
                <div class="card-action center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action" id="sign-in-btn">Save</button>
                    <div class="s2 m1">
                        <p class="center-align" id="skip"><a id="skip" href="ideafeed">Skip for now</a></p>                  
                    </div> 
                </div> 

                <!-- Comments Section -->

            </div>
        </div>
    </div>    
</div>
{% endblock %}