{% extends "base.html" %}

{% set title = 'Explore' %}

{% block navblock %}
<li><a href={{ url_for('createidea') }} class="waves-effect waves-light btn white red-text create-idea-btn">Have an idea?</a></li>
<li><a href={{ url_for('ideafeed') }} class="waves-effect waves-light btn white-text red create-idea-btn">Explore</a></li>
<li><a href="#" class="dropdown-button" data-beloworigin="true" href='#' data-activates="dropdown-menu">
      <i class="material-icons md-36">account_circle</i>
  	</a>
  <ul class="dropdown-content" id="dropdown-menu">
    <li><a href={{ url_for('dashboard', user_id=user_id) }}>Dashboard</a></li>
    <li><a href={{ url_for('logout') }}>Logout</a></li>
  </ul>
</li>
{% endblock %}

{% block content %}
<div class="row" id="search-container">
	<div class="col s8 m8 l8 offset-l2 offset-m2 offset-s2">
		<input type="text" name="search-idea" id="search-idea" placeholder="Looking for an idea?">
	</div>
</div>
<div class="row">
	<div class="col s8 m8 l8 offset-l2 offset-m2 offset-s2">
	<!-- Make this dynamic -->	
	{% for tag in general_tags %}
		<div class="col s2 m2 l2"><button class="waves-effect waves-boo .waves-ripple btn tagetories-btn">{{tag['name']}}</button></div>
	{% endfor %}
	</div>
</div>
<div class="row ideas-container">

{% for idea in ideas %}
	<div class="col s12 m6 l4 card idea-card">
		<div class="col s2 l2 m2">
			<img src="http://d32ogoqmya1dw8.cloudfront.net/images/serc/empty_user_icon_256.v2.png" class="idea-owner">
		</div>
		<div class="col s10 l10 m10">
				<a href={{ url_for('ideapage', idea_id=idea['idea_id']) }}>{{ idea['idea_name'] }}</a>
				
				<br>
				by {{ idea['user_name'] }}
		</div>
		<div class="card-content">
			<div class="artifact-img">
				<img src="http://placehold.it/100x100">
			</div>
			<div>
				{{ idea['description'] }}
			</div>
		</div>
		<div class="card-action">
			<div class="col s10 l10 m10">
				{% for tag in tags[idea['idea_id']]%}
				<div class="tag-item"><a href=# style="color: #f44336"># {{tag}}</a></div>
				{% endfor %}
			</div>
			<div class="col s2 l2 m2">
			 <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i>
			</div>
		</div>
	</div>
{% endfor %}
</div>

{% endblock %}