{% extends "base.html" %}
{% block title %}
	Login
{% endblock %}

{% block navblock %}
<li><a href="#">About</a></li>
<li><a href="#">Profile</a></li>
{% endblock %}

{% block content %}
<div  class="container-fluid full" id="background">
	<h1 class="col-md-12 text-center" id="welcome"> Idea(Idea) </h1>
	
	<p>We can make <b>ideas</b> real, together</p>
	<h4> {{ msg }} </h4>
	<form action="login" method="post" name="login">
		{{ form.hidden_tag() }}
		<p>
			username 
			{{ form.username(size=120) }}
		</p>
		<p>
			password
			{{ form.password(size=120) }}
		</p>
		<p>
			<input type="submit" value="Login">
		</p>
	</form>
</div>
{% endblock %}